* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .spacer {
    width: 10px;
    height: 10px;
  }
  
  .google {
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
  }
  
  .google input {
    box-shadow: 0 10px 0px black;
    padding: 12px;
    padding-right: 17px;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    flex-grow:2;
  }
  
  .google button {
    width: 50px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0 10px 0px black;
    border-radius: 20px;
  }
  
  .google button svg {
    overflow: visible;
  }
  
  .google button svg path {
    stroke: black; 
    fill: none;
    stroke-width: 1px;
    transition: stroke-width 0.3s ease;
  }
  
  .google:hover button svg path {
    stroke-width: 2px;
  }
  
  .google button:hover {
    transition: all .05s ease;
    transform: translateY(10px);
    box-shadow: 0 7px 0px black;
  }
  
  .googoo {
    position: absolute;
    bottom: 30%;
    font-size: 40px;
    font-family: "Monaco", "Courier New", monospace;
  }
  
  .credits {
    text-align: center;
    position: absolute;
    bottom: 10%;
    font-size: 12px;
    font-family: "Monaco", "Courier New", monospace;
  }

.gaga {
  transition: all 0.05s ease;
  font-size: 40px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 10%;
  text-align: center;
}
.gagaa {
  transition: all 0.05s ease;
  font-size: 15px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 20%;
  text-align: center;
}
